/* Change font as required as this is just a start font */

body {
  font: 40px Roboto, sans-serif;
  line-height: 1.8;
  color: #f5f6f7;
}

/*p {
  font-size: 30px;
}*/

/* Styling to pages */

.hdr_1 {
  font-family: 'Permanent Marker', cursive;
  font-size: 125px;
  font-weight: 200;
  margin-bottom: 50px;
}
.txt_1 {
  font-size: 35px;
  font-weight: bold;
  color: #FFFFFF;
}

.txt_2 {
  font-size: 30px;
  font-weight: bold;
  color: #FFFFFF;
}

.hdr_2 {
  font-family: 'Permanent Marker', cursive;
  font-size: 75px;
  font-weight: 100;
  margin-bottom: 50px;
}

.margin {
  margin-bottom: 45px;
}

.bg-1 {
  background-color: #ffad33;
  /* orange */
  color: #ffffff;
}

.bg-2 {
  background-image: url(/assets/img/blu_sky.jpg);
  color: #ffffff;
}

.bg-3 {
  background-color: #ffffff;
  /* White */
  color: #555555;
}

.bg-4 {
  background-color: #2f2f2f;
  /* Black Gray */
  color: #fff;
}

.container-fluid {
  padding-top: 70px;
  padding-bottom: 70px;
}

.navbar {
  padding-top: 15px;
  padding-bottom: 15px;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  font-size: 15px;
  letter-spacing: 5px;
}

.navbar-nav li a:hover {
  color: #32CD32 !important;
}
