
body {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.8;
  color: #f5f6f7;
}


/* Styling to pages */

.hdr_1 {
  font-family: 'Permanent Marker', cursive;
  font-size: 10rem;
  /*font-weight: 200;*/
  margin-bottom: 50px;
}

.txt_1 {
  font-size: 35px;
  font-weight: bold;
  color: #FFFFFF;
  padding-top: 50px;
  padding-bottom:20px;
}

.txt_2 {
  font-size: 25px;
  font-weight: normal;
  color: #FFFFFF;
 /* padding-top: 30px;*/
  padding-bottom:25px
}

.txt_3 {
  font-family: 'Permanent Marker', cursive;
  font-size: 75px;
  color: #FFFFFF;
  padding-bottom: 100px;
}

.txt_4 {
  font-family: Roboto, sans-serif;
  font-size: 45px;
  color: #ffffff;
}

/* sun styling */

#container {
  width: 20%;
  margin: 0 auto;
}

#sun {
  fill: #ffad33;
}

#sunBeam {
  fill: #ffad33;
  stroke: #faa500;
  stroke-width: 8;
  stroke-linecap: round;
}

.hdr_2 {
  font-family: 'Permanent Marker', cursive;
  font-size: 75px;
  font-weight: 100;
  padding-bottom: 20px;
}

.beach_button {
  margin-left: 50px;
}

.bg-1 {
  background-color: #ffad33;
  /* orange */
  color: #ffffff;
}

.bg-2 {
  background-image: url(../assets/img/blu_sky.jpg);
  color: #ffffff;
}

.bg-3 {
  background-image: url(../assets/img/beach_1.jpg);
  /* sand */
  color: #ffffff;
  padding-top: 50px;
  padding-bottom: 100px;
  padding-left: 10px;
  
}

.bg-4 {
  background-color: #808080;
  /* Black Gray */
  color: #fff;
  padding-top: 1px;
  padding-bottom: 50px;
  
}

.txt_bx {
  font-size: 35px
}

/*.container-fluid {
  
  padding-bottom: 20px;
  margin-left:-10px;
  margin-right:-10px;
}*/

