/* Change font as required as this is just a start font */

body {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.8;
  color: #f5f6f7;
}


/* Styling to pages */

.hdr_1 {
  font-family: 'Permanent Marker', cursive;
  font-size: 115px;
  font-weight: 200;
  margin-bottom: 50px;
}

.txt_1 {
  font-size: 35px;
  font-weight: bold;
  color: #FFFFFF;
  padding-top: 50px;
}

.txt_2 {
  font-size: 25px;
  font-weight: normal;
  color: #FFFFFF;
  padding-top: 30px;
  padding-bottom:45px
}

.txt_3 {
  font-family: 'Permanent Marker', cursive;
  font-size: 75px;
  color: #FFFFFF;
  padding-bottom: 100px;
}

.txt_4 {
  font-family: Roboto, sans-serif;
  font-size: 45px;
  color: #ffffff;
}

.hdr_2 {
  font-family: 'Permanent Marker', cursive;
  font-size: 75px;
  font-weight: 100;
  padding-bottom: 50px;
}

.beach_button {
  margin-left: 850px;
}

.bg-1 {
  background-color: #ffad33;
  /* orange */
  color: #ffffff;
}

.bg-2 {
  background-image: url(/assets/img/blu_sky.jpg);
  color: #ffffff;
}

.bg-3 {
  background-image: url(/assets/img/beach_1.jpg);
  /* sand */
  color: #ffffff;
}

.bg-4 {
  background-color: #808080;
  /* Black Gray */
  color: #fff;
}

.txt_bx {
  font-size: 35px
}

.container-fluid {
  padding-top: 70px;
  padding-bottom: 70px;
  margin-left:-10px;
  margin-right:-10px;
}

.navbar {
  padding-top: 15px;
  padding-bottom: 15px;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  font-size: 15px;
  letter-spacing: 5px;
}

.navbar-nav li a:hover {
  color: #32CD32 !important;
}
